<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('../partials/top_navi.ejs') -%>
    <div class="container">
      <h1>数量关系36计</h1>
      


      <div class="accordion" id="accordionExample" style="width:75%;">
        <% data.forEach(function(item){%>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%=item.title%>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse<%=item.title%>" aria-expanded="true" aria-controls="collapse<%=item.title%>">
              <h5><%=item.title%></h5>
            </button>
          </h2>
          <div id="collapse<%=item.title%>" class="accordion-collapse collapse" aria-labelledby="heading<%=item.title%>"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <% item.content.forEach(function(subject){ %>
                <div class="shadow p-3 rounded">
                  <div>
                    <%-subject.problem%>
                  </div>
                  <br>
                  <div>
                    <%-subject.options%>
                  </div>
                  <br>
                  <div class="text-light bg-secondary">
                    <%-subject.answer%>
                  </div>
                </div>
                <br>
              <%})%>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
</body>

</html>